@{
    ViewBag.Title = "区域店铺";
    Layout = "../Shared/_LayoutNone.cshtml";
}
@section Head
{
    @WebHelper4H5.RegisterStyles("service/Stores.css")
}
<header class="header">
    <a href="#" class="back"><</a>
    <h4 class="Title">区域店铺</h4>
    <a href="#" class="back"></a>
</header>
<section class="Section">

</section>
@section Scripts
{
    @WebHelper4H5.RegisterScripts("service/rem.js")
    @WebHelper4H5.RegisterScripts("service/Stores.js")
}
