@{
    ViewBag.Title = "店铺销售总计";
    Layout = "../Shared/_LayoutNone.cshtml";
}
@section Head
{
    @WebHelper4H5.RegisterStyles("service/service_index.css")
    @WebHelper4H5.RegisterStyles("service/Total_Store.css")
}
<header class="Text_Title">
    <div class="Title_input"></div>
    <span class="Title_title">店铺销售总计</span>
    <div class="Title_input">
        <img class="Title_sou" src="/Content/images/serviceImage/放大镜.png" alt="Alternate Text">
    </div>
</header>
<div class="Total_Store">
    <div class="Total_Store_section">
        <div class="Stores_top">
            <div class="Stores_Left"></div>
            <div class="Stores_name_box">
                <span class="Stores_icon">
                    <img class="Stores_img" src="/Content/images/serviceImage/店铺.png" alt="Alternate Text" />
                </span>
                <span class="Stores_name">南通农工商路</span>
            </div>
            <a href="#" class="Stores_show">
                <span class="Stores_A">查看详情</span>
                <span class="Stores_B">
                    <img class="Stores_Jt" src="/Content/images/serviceImage/箭头灰色.png" alt="Alternate Text" />
                </span>
            </a>
        </div>
        <div class="tables_bgbox">
            <table class="table_box">
                <thead>
                    <tr>
                        <th class="th_Title"></th>
                        <th class="th_Title">汇总</th>
                        <th class="th_Title">境内</th>
                        <th class="th_Title">跨境购</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_name">本月销量(件)</td>
                        <td class="td_num">12</td>
                        <td class="td_num">17.41%</td>
                        <td class="td_num">134</td>
                    </tr>
                    <tr>
                        <td class="td_name">销量总计(件)</td>
                        <td class="td_num">14</td>
                        <td class="td_num">18.46%</td>
                        <td class="td_num">168</td>
                    </tr>
                    <tr>
                        <td class="td_name">本月订单销量额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">订单销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">本月销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">标准销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="Stores_top">
            <div class="Stores_Left"></div>
            <div class="Stores_name_box">
                <span class="Stores_icon">
                    <img class="Stores_img" src="/Content/images/serviceImage/店铺.png" alt="Alternate Text" />
                </span>
                <span class="Stores_name">上海总部店</span>
            </div>
            <a href="#" class="Stores_show">
                <span class="Stores_A">查看详情</span>
                <span class="Stores_B">
                    <img class="Stores_Jt" src="/Content/images/serviceImage/箭头灰色.png" alt="Alternate Text" />
                </span>
            </a>
        </div>
        <div class="tables_bgbox">
            <table class="table_box">
                <thead>
                    <tr>
                        <th class="th_Title"></th>
                        <th class="th_Title">汇总</th>
                        <th class="th_Title">境内</th>
                        <th class="th_Title">跨境购</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_name">本月销量(件)</td>
                        <td class="td_num">12</td>
                        <td class="td_num">17.41%</td>
                        <td class="td_num">134</td>
                    </tr>
                    <tr>
                        <td class="td_name">销量总计(件)</td>
                        <td class="td_num">14</td>
                        <td class="td_num">18.46%</td>
                        <td class="td_num">168</td>
                    </tr>
                    <tr>
                        <td class="td_name">本月订单销量额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">订单销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">本月销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">标准销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="Stores_top">
            <div class="Stores_Left"></div>
            <div class="Stores_name_box">
                <span class="Stores_icon">
                    <img class="Stores_img" src="/Content/images/serviceImage/店铺.png" alt="Alternate Text" />
                </span>
                <span class="Stores_name">上海曲阜路店</span>
            </div>
            <a href="#" class="Stores_show">
                <span class="Stores_A">查看详情</span>
                <span class="Stores_B">
                    <img class="Stores_Jt" src="/Content/images/serviceImage/箭头灰色.png" alt="Alternate Text" />
                </span>
            </a>
        </div>
        <div class="tables_bgbox">
            <table class="table_box">
                <thead>
                    <tr>
                        <th class="th_Title"></th>
                        <th class="th_Title">汇总</th>
                        <th class="th_Title">境内</th>
                        <th class="th_Title">跨境购</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_name">本月销量(件)</td>
                        <td class="td_num">12</td>
                        <td class="td_num">17.41%</td>
                        <td class="td_num">134</td>
                    </tr>
                    <tr>
                        <td class="td_name">销量总计(件)</td>
                        <td class="td_num">14</td>
                        <td class="td_num">18.46%</td>
                        <td class="td_num">168</td>
                    </tr>
                    <tr>
                        <td class="td_name">本月订单销量额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">订单销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">本月销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                    <tr>
                        <td class="td_name">标准销售总额(元)</td>
                        <td class="td_num">5000</td>
                        <td class="td_num">25.32%</td>
                        <td class="td_num">13500.00</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
@section Scripts
{
    @WebHelper4H5.RegisterScripts("service/rem.js")
    @WebHelper4H5.RegisterScripts("service/service_index.js")
}
