@{
    ViewBag.Title = "猫市会员特惠店";
    Layout = "../Shared/_LayoutFooter.cshtml";
}
@section Head
{
    @*@WebHelper4H5.RegisterStyles("newStyles/mzui/amazeui.css")*@
    @WebHelper4H5.RegisterStyles("newStyles/style.css")
    @WebHelper4H5.RegisterStyles("newStyles/main.css")
    @WebHelper4H5.RegisterStyles("newStyles/dyl.css")
}

<div class="Examineing pad4">
    <p>申请成功！资料审核中...</p>
    <p>
        您的申请已成功提交，我们会尽快审核您的资料<br />
        如有疑问请拨打客服电话：4009633696
    </p>
</div>
<div class="submit_btn pad4">
    <a href="tel:4009633696"><span>联系客服 400-963-3696</span></a>
</div>