@model FrontSDK.Domain.DxlqOrderPackageCount
@{
    ViewBag.Title = "客服电话";
    Layout = "../Shared/_LayoutFooter.cshtml";
}
@section Head
{
    @WebHelper4H5.RegisterStyles("userAbout/mine.css")

}
<div class="white-bg fs14">
    <p class="comAdrArea  pl30 pr30 ac red">
        <b class="person_serClock phoneCommon"></b>服务时间：(8:00~22:00)
    </p>
</div>
<div class="white-bg fs14 mt6 perInfo">
    <p class="comAdrArea  pl30 pr30">
        <b class="person_phoneCall phoneCommon"></b>平台服务
        <span class="fr red">13636619675</span>
    </p>
    <p class="comAdrArea  pl30 pr30">
        <b class="person_phoneCall phoneCommon"></b>收发货咨询
        @*<span class="fr red">15921727328</span>*@
    </p>
    <div class="clearfix">
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期一</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>9:00~22:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>陆宇霞</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>13816625227</dt>
                </dl>
            </li>
        </ul>
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期二</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>9:00~22:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>孙艳</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>15921727328</dt>
                </dl>
            </li>
        </ul>
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期三</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>9:00~22:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>刘玲珍</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>13671685758</dt>
                </dl>
            </li>
        </ul>
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期四</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>9:00~22:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>濮洪弟</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>15921616951</dt>
                </dl>
            </li>
        </ul>
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期五</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>9:00~22:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>陈佳</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>13774254272</dt>
                </dl>
            </li>
        </ul>
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期六</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>9:00~16:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>夏静</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>13917874304</dt>
                </dl>
            </li>
        </ul>
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期六</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>16:00~22:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>吴晓波</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>15895397929</dt>
                </dl>
            </li>
        </ul>
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期日</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>9:00~16:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>江雯龙</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>13681655318</dt>
                </dl>
            </li>
        </ul>
        <ul class="parbox pl20 pr20 serviceList">
            <li class="disblock flex1 ac">
                <dl class=" ">
                    <dd class="ac">星期日</dd>
                    <dt class="fs12"><b class="person_myClock phoneCall" style="margin-right:.1rem; vertical-align:middle;"></b>16:00~22:00</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_headIcon"></b></dd>
                    <dt>罗广德</dt>
                </dl>
            </li>
            <li class="disblock flex1 ac">
                <dl class="">
                    <dd class="ac"><b class="person_geryPhoneCall"></b></dd>
                    <dt>13636619675</dt>
                </dl>
            </li>
        </ul>
    </div>
</div>
@section Footer
{
}
@section Scripts
{
}
