@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dt9g47');
  src:  url('fonts/icomoon.eot?dt9g47#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dt9g47') format('truetype'),
    url('fonts/icomoon.woff?dt9g47') format('woff'),
    url('fonts/icomoon.svg?dt9g47#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	font: normal normal normal 14px/1 icomoon;
	font-size: inherit;
	text-rendering: auto;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jifenew .path1:before {
  content: "\e994";
  color: rgb(0, 0, 0);
}
.icon-jifenew .path2:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(4, 0, 0);
}
.icon-jifenew .path3:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(4, 0, 0);
}
.icon-income:before {
  content: "\e997";
}
.icon-bcart:before {
  content: "\e998";
}
.icon-add3:before {
  content: "\e993";
}
.icon-address1:before {
  content: "\e992";
}
.icon-chose:before {
  content: "\e991";
}
.icon-yen:before {
  content: "\e990";
}
.icon-per1:before {
  content: "\e981";
}
.icon-per2:before {
  content: "\e982";
}
.icon-per3:before {
  content: "\e983";
}
.icon-per4:before {
  content: "\e984";
}
.icon-per5:before {
  content: "\e985";
}
.icon-per6:before {
  content: "\e986";
}
.icon-per7:before {
  content: "\e987";
}
.icon-per8:before {
  content: "\e988";
}
.icon-per9:before {
  content: "\e989";
}
.icon-per10:before {
  content: "\e98a";
}
.icon-per11:before {
  content: "\e98b";
}
.icon-four:before {
  content: "\e98c";
}
.icon-one:before {
  content: "\e98d";
}
.icon-tree:before {
  content: "\e98e";
}
.icon-two:before {
  content: "\e98f";
}
.icon-jifen:before {
  content: "\e97e";
}
.icon-yeb:before {
  content: "\e97f";
}
.icon-nper:before {
  content: "\e97c";
}
.icon-bca1:before {
  content: "\e972";
}
.icon-bca2:before {
  content: "\e973";
}
.icon-bca3:before {
  content: "\e976";
}
.icon-bca4:before {
  content: "\e977";
}
.icon-more:before {
  content: "\e978";
}
.icon-ncart:before {
  content: "\e979";
}
.icon-ncate:before {
  content: "\e97a";
}
.icon-nindex:before {
  content: "\e97b";
}
.icon-nright:before {
  content: "\e97d";
}
.icon-ka:before {
  content: "\e970";
}
.icon-biao:before {
  content: "\e96e";
}
.icon-si:before {
  content: "\e96f";
}
.icon-kon:before {
  content: "\e95f";
}
.icon-peng:before {
  content: "\e960";
}
.icon-wei2:before {
  content: "\e961";
}
.icon-xin:before {
  content: "\e96d";
}
.icon-juan .path1:before {
  content: "\e962";
  color: rgb(242, 242, 242);
}
.icon-juan .path2:before {
  content: "\e963";
  margin-left: -0.9775390625em;
  color: rgb(0, 0, 0);
}
.icon-juan .path3:before {
  content: "\e964";
  margin-left: -0.9775390625em;
  color: rgb(0, 0, 0);
}
.icon-juan .path4:before {
  content: "\e965";
  margin-left: -0.9775390625em;
  color: rgb(0, 0, 0);
}
.icon-lin .path1:before {
  content: "\e966";
  color: rgb(242, 242, 242);
}
.icon-lin .path2:before {
  content: "\e967";
  margin-left: -1.0009765625em;
  color: rgb(0, 0, 0);
}
.icon-lin .path3:before {
  content: "\e96a";
  margin-left: -1.0009765625em;
  color: rgb(0, 0, 0);
}
.icon-zon .path1:before {
  content: "\e96b";
  color: rgb(242, 242, 242);
}
.icon-zon .path2:before {
  content: "\e96c";
  margin-left: -1.07421875em;
  color: rgb(0, 0, 0);
}
.icon-zon .path3:before {
  content: "\e971";
  margin-left: -1.07421875em;
  color: rgb(0, 0, 0);
}
.icon-vip .path1:before {
  content: "\e974";
  color: rgb(242, 242, 242);
}
.icon-vip .path2:before {
  content: "\e975";
  margin-left: -0.990234375em;
  color: rgb(0, 0, 0);
}
.icon-wei:before {
  content: "\e968";
}
.icon-zhi:before {
  content: "\e969";
}
.icon-addm:before {
  content: "\e95d";
}
.icon-reduce1:before {
  content: "\e957";
}
.icon-add2:before {
  content: "\e95c";
}
.icon-mb:before {
  content: "\e95a";
}
.icon-yc:before {
  content: "\e95b";
}
.icon-gwc:before {
  content: "\e959";
}
.icon-shareo:before {
  content: "\e946";
}
.icon-callo:before {
  content: "\e947";
}
.icon-zano:before {
  content: "\e948";
}
.icon-heiz:before {
  content: "\e949";
}
.icon-newo:before {
  content: "\e94a";
}
.icon-edito:before {
  content: "\e94b";
}
.icon-banko:before {
  content: "\e94c";
}
.icon-baoo:before {
  content: "\e94d";
}
.icon-listo:before {
  content: "\e94e";
}
.icon-xino:before {
  content: "\e94f";
}
.icon-witeo:before {
  content: "\e950";
}
.icon-apliy:before {
  content: "\e951";
}
.icon-webcat:before {
  content: "\e952";
}
.icon-colse:before {
  content: "\e953";
}
.icon-bin:before {
  content: "\e954";
}
.icon-sure:before {
  content: "\e955";
}
.icon-del:before {
  content: "\e956";
}
.icon-add:before {
  content: "\e958";
}
.icon-fen:before {
  content: "\e906";
}
.icon-good:before {
  content: "\e944";
}
.icon-pin:before {
  content: "\e945";
}
.icon-perchose:before {
  content: "\e943";
}
.icon-right:before {
  content: "\e942";
}
.icon-ewm:before {
  content: "\e941";
}
.icon-view .path1:before {
  content: "\e90f";
  color: rgb(204, 204, 204);
}
.icon-view .path2:before {
  content: "\e910";
  margin-left: -1.509765625em;
  color: rgb(39, 38, 54);
}
.icon-recom .path1:before {
  content: "\e911";
  color: rgb(204, 204, 204);
}
.icon-recom .path2:before {
  content: "\e912";
  margin-left: -1.0029296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path1:before {
  content: "\e913";
  color: rgb(204, 204, 204);
}
.icon-repalce .path2:before {
  content: "\e914";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path3:before {
  content: "\e915";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path4:before {
  content: "\e916";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path5:before {
  content: "\e917";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path6:before {
  content: "\e918";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path7:before {
  content: "\e919";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path8:before {
  content: "\e91a";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-order .path1:before {
  content: "\e91b";
  color: rgb(204, 204, 204);
}
.icon-order .path2:before {
  content: "\e91c";
  margin-left: -0.875em;
  color: rgb(39, 38, 54);
}
.icon-cou .path1:before {
  content: "\e91d";
  color: rgb(39, 38, 54);
}
.icon-cou .path2:before {
  content: "\e91e";
  margin-left: -1.1162109375em;
  color: rgb(39, 38, 54);
}
.icon-cou .path3:before {
  content: "\e91f";
  margin-left: -1.1162109375em;
  color: rgb(39, 38, 54);
}
.icon-cou .path4:before {
  content: "\e920";
  margin-left: -1.1162109375em;
  color: rgb(39, 38, 54);
}
.icon-cou .path5:before {
  content: "\e921";
  margin-left: -1.1162109375em;
  color: rgb(39, 38, 54);
}
.icon-cou .path6:before {
  content: "\e922";
  margin-left: -1.1162109375em;
  color: rgb(204, 204, 204);
}
.icon-history .path1:before {
  content: "\e923";
  color: rgb(204, 204, 204);
}
.icon-history .path2:before {
  content: "\e924";
  margin-left: -0.8330078125em;
  color: rgb(39, 38, 54);
}
.icon-bank .path1:before {
  content: "\e925";
  color: rgb(39, 38, 54);
}
.icon-bank .path2:before {
  content: "\e926";
  margin-left: -1.25em;
  color: rgb(204, 204, 204);
}
.icon-address .path1:before {
  content: "\e927";
  color: rgb(39, 38, 54);
}
.icon-address .path2:before {
  content: "\e928";
  margin-left: -0.7490234375em;
  color: rgb(204, 204, 204);
}
.icon-phone .path1:before {
  content: "\e929";
  color: rgb(204, 204, 204);
}
.icon-phone .path2:before {
  content: "\e92a";
  margin-left: -0.70703125em;
  color: rgb(204, 204, 204);
}
.icon-phone .path3:before {
  content: "\e92b";
  margin-left: -0.70703125em;
  color: rgb(39, 38, 54);
}
.icon-pwd .path1:before {
  content: "\e92c";
  color: rgb(204, 204, 204);
}
.icon-pwd .path2:before {
  content: "\e92d";
  margin-left: -0.8125em;
  color: rgb(39, 38, 54);
}
.icon-pwd .path3:before {
  content: "\e92e";
  margin-left: -0.8125em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path1:before {
  content: "\e92f";
  color: rgb(204, 204, 204);
}
.icon-reduce .path2:before {
  content: "\e930";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path3:before {
  content: "\e931";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path4:before {
  content: "\e932";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path5:before {
  content: "\e933";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path6:before {
  content: "\e934";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path7:before {
  content: "\e935";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-call .path1:before {
  content: "\e936";
  color: rgb(204, 204, 204);
}
.icon-call .path2:before {
  content: "\e937";
  margin-left: -0.9306640625em;
  color: rgb(204, 204, 204);
}
.icon-call .path3:before {
  content: "\e938";
  margin-left: -0.9306640625em;
  color: rgb(39, 38, 54);
}
.icon-nopay:before {
  content: "\e939";
}
.icon-nosend .path1:before {
  content: "\e93a";
  color: rgb(39, 38, 54);
}
.icon-nosend .path2:before {
  content: "\e93b";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-nosend .path3:before {
  content: "\e93c";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-noremark:before {
  content: "\e93d";
}
.icon-nocome .path1:before {
  content: "\e93e";
  color: rgb(39, 38, 54);
}
.icon-nocome .path2:before {
  content: "\e93f";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-nocome .path3:before {
  content: "\e940";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-share:before {
  content: "\e90d";
}
.icon-cart:before {
  content: "\e90e";
}
.icon-left:before {
  content: "\e90c";
}
.icon-car:before {
  content: "\e900";
}
.icon-cate:before {
  content: "\e901";
}
.icon-catechose:before {
  content: "\e902";
}
.icon-index:before {
  content: "\e903";
}
.icon-indexchose:before {
  content: "\e904";
}
.icon-per:before {
  content: "\e905";
}
.icon-remark:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-text:before {
  content: "\e909";
}
.icon-zan:before {
  content: "\e90a";
}
.icon-zuoj:before {
  content: "\e90b";
}
.icon-map:before {
  content: "\e623";
}
.icon-nochose:before {
  content: "\e95e";
}
.icon-colese:before {
  content: "\e652";
}
.icon-delsearch:before {
  content: "\e980";
}
.icon-caiwu:before {
  content: "\e99c";
}
.icon-dingdanxinxi:before {
  content: "\e99b";
}
.icon-wuliu:before {
  content: "\e99a";
}
.icon-xiaoxi:before {
  content: "\e999";
}

