
<style type="text/css">
    .headSearch-span{
        color:#ffffff;
        margin-left:-5px;
        font-size:.50rem;
    }
    .home_mirror{
        top:.6rem;
    }
</style>
<header>
    <div class="comfixedHeader full-width">
        <div style="background: #23282b; height: 50px;line-height:50px" class="am-padding-per parbox locaarea">
            <span style="border:0px solid #23282b" class="location pr30 fs13 location_city"><i class="home_sarrowdown"></i></span>
            <p class="flex1 searchArea posrela">
                <i class="home_mirror"></i>
                <input  type="text" style="width:80%;height:1rem;" class="searchBotton white-bg fs12" placeholder="搜索您感兴趣的商品" />

                <i class="btn-reset" style="display: none;">x</i>

            </p>
            <span style="display:inline-block"><span onclick="headSearch()" class="headSearch-span">搜索</span></span>
        </div>
    </div>
</header>
